@font-face {
    font-family: 'Space Mono';
    src: url(Assets/Fonts/SpaceMono-Bold.woff2) format('woff2'),
        url(Assets/Fonts/SpaceMono-Bold.woff) format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body{
    font-family: 'Space Mono', monospace, sans-serif;
    background-image: url(Assets/Images/Background.jpeg);
}
h1{
    font-size: 2rem;
    text-align:center;
    margin-top: 0rem;
    margin-bottom: 1rem;
}
p{
    font-family: 'Space Mono', monospace, sans-serif;
    font-size: 1.75rem;
}
input{
    font-family: 'Space Mono', monospace, sans-serif;
    font-size: 1.75rem;
    text-align:center;
    background-color: #F9FEFF;
    border-color: transparent;
    border-radius: 10px;
}
label{
    font-size: 1.5rem;
    display: block;
    text-align: center;
    margin: 1rem auto;
    border-color: transparent;
}
/* button{
    font-family: 'Space Mono', monospace, sans-serif;
    font-size: 1.5rem;
} */
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 75%;
}

button{
    border-style: none;
    background-color: transparent;
    border-color: none;
}

.controls{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 1rem 0rem 1rem;
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.main_box{
    background-color: rgba(216, 227, 228, .8);
    border-radius: 20px;
    margin: 1.5rem 1rem;
    padding: 2rem 1rem;
    /* width: 90%; */
    height: auto;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.box__title{
    order: 0;
}
.main_box__direction{
    order: 1;
    text-align: center;
    margin-top: .5rem;
    margin-bottom: .5rem;
}
.box__form{
    margin-bottom: 1rem;
    order: 2;
    display: flex;
    justify-content: space-around;
}


.box__img{
    order: 3;
    margin-top: 1.5rem;
}

.slash{
    margin:0;
    padding:0;
    border:0;
}

.box__reveal{
    margin-bottom: 1rem;
    display:hidden;
    text-align: center;
    align-items: flex-end;
    order: 8;
}
.box__button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: .75rem 3rem;
    border-color: transparent;
    background-color: #627172;
    color:#F9FEFF;
    border-radius: 10px;
    align-items: flex-end;
    order: 9;
}

.box__button:active{
    color:black;
}