:root{
    --h1-size: 1.5rem;
    --p-size:1.25rem;
    --bio-size:1.15rem;
}

@font-face {
    font-family: 'Space Mono';
    src: url(Assets/Fonts/SpaceMono-Bold.woff2) format('woff2'),
        url(Assets/Fonts/SpaceMono-Bold.woff) format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body{
    font-family: 'Space Mono', monospace, sans-serif;
    background-image: url(Assets/Images/Background.jpeg);
}
h1{
    font-size: var(--h1-size);
    text-align:center;
    margin-top: 0rem;
    margin-bottom: 1rem;
}
p{
    font-family: 'Space Mono', monospace, sans-serif;
    font-size: var(--p-size);
}
li{
    font-family: 'Space Mono', monospace, sans-serif;
    font-size: var(--p-size);
}
input{
    font-family: 'Space Mono', monospace, sans-serif;
    font-size: var(--p-size);
    text-align:center;
    background-color: #F9FEFF;
    border-color: transparent;
    border-radius: 10px;
}
label{
    font-size: var(--p-size);
    display: block;
    text-align: center;
    margin: 1rem auto;
    border-color: transparent;
}
/* button{
    font-family: 'Space Mono', monospace, sans-serif;
    font-size: 1.5rem;
} */
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 75%;
}

button{
    border-style: none;
    background-color: transparent;
    border-color: none;
}

.controls{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 1rem 0rem 1rem;
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.box{
    display: flex;
    background-color: rgba(216, 227, 228, .8);
    border-radius: 20px;
    padding: 2rem 1rem;
    margin: 1.5rem 1rem;
    flex-direction: column;
    justify-items: center;
}
/* This is for the help box */
.help__help-text{
    display:none;
    padding-top: 1rem;
}

.help__close-button{
    align-self:flex-end;
    font-size: 2rem;
    padding-bottom: 1rem;
}
.help__help-text--title{
    margin-bottom: 1rem;
}
.help__help-text--par{
    text-align: left;
    margin-bottom: .75rem;
    margin-top:.25rem;
}
.help__help-text--list{
    text-align: left;
    margin-top:.75rem;
    margin-bottom: .75rem;
}

/*This is for the main box*/
.main_box{
    /* width: 90%; */
    height: auto;
}

.box__title{
    order: 0;
}
.main_box__direction{
    order: 1;
    text-align: center;
    margin-top: .5rem;
    margin-bottom: .5rem;
}
.box__form{
    margin-bottom: 1rem;
    order: 2;
    display: flex;
    justify-content: space-around;
}


.box__img{
    order: 3;
    margin-top: 1.5rem;
}

.slash{
    margin:0;
    padding:0;
    border:0;
}

.box__reveal{
    order: 9;
}
.box__name{
    margin-bottom: .5rem;
    display:hidden;
    text-align: center;
    align-items: flex-end;
}

.box__bio{
    font-size: var(--bio-size);
    line-height: 1.75rem;
    margin-bottom: 1rem;
    margin-top: 0rem;
    display:hidden;
    text-align: center;
    align-items: flex-end;
}

.box__button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: .5rem;
    padding: .75rem 3rem;
    border-color: transparent;
    background-color: #66bcc2;
    color:#F9FEFF;
    border-radius: 10px;
    align-items: flex-end;
    order: 3;
}

.box__button:active{
    color:black;
    background-color: #497c80;
}

.hidden{
    display: none;
}

.characters{
    background-color: rgba(216, 227, 228, .8);
    border-radius: 20px;
    padding: 2rem 1rem;
    margin: 1.5rem 1rem 0rem 1rem;
    justify-items: center;
    display: none;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(2,1fr);
    min-height: 70px;;
}

.characters__card{
    max-width: 100px;
    align-self: center;
    margin: 0 .25rem;
}
.characters__card__img{
    align-self: center;
    max-width: 90%;
}
.characters__card__img:hover{
    max-width: 110%;
}
@media (min-width: 600px){
    *{
        --h1-size: 1.5rem;
        --p-size:1.25rem;
        --bio-size:1.15rem;
    }
    .characters{
        grid-template-columns: repeat(12,1fr);
        grid-template-rows: 1fr;
    }
}

@media (min-width: 1000px){
    *{
        --h1-size: 2rem;
        --p-size: 1.5rem;
        --bio-size: 1.35rem;
    }
}